.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
artifacts
cache

backend/coverage
backend/coverage.json
backend/typechain
backend/typechain-types
backend/cache
backend/artifacts

